*{
    margin: 0;
}

.content {
    background-color: #095bcc;
    padding: 20px;
}
.title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: "Nunito" , sans-serif;
}

.item {
    background-color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 30px;
    margin: 20px;
}

.flex-content {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.form {
    border: 1px solid rgb(177, 175, 175);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}