.form {
    border: 1px solid rgb(177, 175, 175);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;

}

 #img-1{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
#img-2{
    position: fixed;
    top: 10px;
    right: 10px; 
} 
#img-11{
    position: fixed;
    top: 10px;
    right: 10px; 
} 