.content {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    transition: background-color 3s, width 3s, height 3s, font-size 3s, color 3s;
}

.content:hover{
    background-color: blue;
    width: 400px;
    height: 400px;
    font-size: 60px;
    color: black;
    /* border-radius: 1000px; */
}