.Animation {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: blue;
    animation-name: sample;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes sample {
    /* from {left:0px; top: 0px; background-color: blue;  transform: rotate(0deg);}
    to {left: 700px; top: 300px; background-color: red; transform: rotate(180deg);} */
   
    0% {left:0px; top: 0px; background-color: blue;  transform: rotate(0deg);}
    25% {left:400px; top: 0px; background-color: red;  transform: rotate(90deg);}
    50% {left:400px; top:400px; background-color: purple;  transform: rotate(180deg);}
    75% {left:0px; top:400px; background-color: green;  transform: rotate(270deg);}
    100%{left:0px; top: 0px; background-color: yellow;  transform: rotate(360deg);}

}
